body {
  background-image: linear-gradient(180deg, rgb(44, 44, 44), rgb(26, 26, 26));
  color: whitesmoke;
}

.navbar {
  position: relative;
  background-color: none;
}


.hero-banner {
  background-image: url("../imgs/Wallpaper.png");
  object-fit: fill;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}


.hero-banner div div h1 {
  display: table;
  margin: 0px auto 0px auto;
  background-color: black;
  text-align: center;
  padding: 1%;
  color: whitesmoke;

}
.hero-banner div div h2 {
  display: table;
  margin: 0px auto 0px auto;
  background-color: black;
  text-align: center;
  padding: 1%;
  color: whitesmoke;
  padding-bottom: 3%;
}

.hero-banner div div p {
  display: table;
  margin: 0px auto 0px auto;
  background-color: black;
  text-align: center;
  width: 50%;
  padding: 3%;

}

h1,
h2 {
  font-family: title;
}

p,
h5,
.btn {
  font-family: textFont;
}

.btn-lg {
  margin: 3%;
  font-family: textFont;
}

small {
  font-size: small;
}

@font-face {
  font-family: title;
  src: url("../fonts/loubag-6.ttf");
}

@font-face {
  font-family: textFont;
  src: url("../fonts/Kollektif.ttf");
}