body {
  background-color: #333335;
  color: whitesmoke;
}

.navbar {
  position: relative;
  background-color: none;
}
.form-check {
  float: right;
}

.hero-banner {
  background-image: url("../imgs/4b627956664441.59b7e328cd883.gif");
  object-fit: fill;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hero-banner div div h1 {
  display: table;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 1%;
  color: rgb(132, 27, 192);
  text-shadow: 2px 2px 8px rgb(0, 0, 0)
}

.hero-banner div div h2 {
  display: table;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 1%;
  color: rgb(132, 27, 192);
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
  padding-bottom: 3%;

}

.hero-banner div div p {
  display: table;
  margin: 0px auto 0px auto;
  text-align: center;
  width: 60%;
  padding: 3%;
  color: rgb(255, 255, 255);
}

.textbox {
  display: table;
  margin: 0px auto 0px auto;
  background-color: rgba(32, 32, 32, 0.6);
  border: white;
  width: 60%;
}

h1,
h2 {
  font-family: title;
}

p,
h5,
.btn {
  font-family: textFont;
}

.btn-lg {
  margin: 3%;
  font-family: textFont;
  background-color: rgb(132, 27, 192);
  color: white;
  border: white;
}
.btn-lg:hover {
  background-color:rgb(185, 88, 241) ;
}

small {
  font-size: small;
}

.card-body, .card-img-top, .card-body p small {
  background-color: rgb(54, 35, 58);
  color:white ;
}

.card-body button {
  background-color: rgb(132, 27, 192);
  color: white;
}

.card-body button:hover {
  background-color:rgb(185, 88, 241) ;
}

@font-face {
  font-family: title;
  src: url("../fonts/loubag-6.ttf");
}

@font-face {
  font-family: textFont;
  src: url("../fonts/Kollektif.ttf");
}

@media only screen and (max-width: 600px) {
  .textbox, .hero-banner div div p {
    width: 85%;
  }
  .hero-banner div div h2 {
    padding-bottom: 5%;
  }
}

