body {
  background-color: #333335;
  color: whitesmoke;
}

.navbar {
  position: relative;
  background-color: none;
}

.form-check {
  float: right;
}

.hero-banner {
  background-image: url("../imgs/4b627956664441.59b7e328cd883.gif");
  object-fit: fill;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hero-banner div div h1 {
  display: table;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 1%;
  color: rgb(228, 207, 15);
  text-shadow: 2px 2px 8px rgb(0, 0, 0)
}

.hero-banner div div h2 {
  display: table;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 1%;
  color: rgb(228, 207, 15);
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
  padding-bottom: 3%;

}

.hero-banner div div p {
  display: table;
  margin: 0px auto 0px auto;
  text-align: center;
  width: 60%;
  padding: 3%;
  color: black;
}

.textbox {
  display: table;
  margin: 0px auto 0px auto;
  background-color: rgba(131, 108, 168, 0.6);
  width: 60%;
  color: black;
}

h1,
h2 {
  font-family: title;
}

p,
h5,
.btn {
  font-family: textFont;
}

.btn-lg {
  margin: 3%;
}

.btn {
  font-family: textFont;
  background-color: rgb(228, 207, 15);
  color: black;
  border: black;
}

.btn:hover {
  background-color: rgb(255, 242, 123);
  color: black;
  text-shadow: 2px 2px 8px rgb(228, 207, 15);
}

.accordion {
  --bs-accordion-bg:  rgb(131, 108, 168);
  --bs-body-color: #0f0f0f;
  --bs-accordion-active-bg: #0f0f0f;
  --bs-accordion-active-color:rgb(131, 108, 168);
  --bs-accordion-btn-focus-border-color:  rgb(131, 108, 168);
  --bs-accordion-btn-focus-box-shadow:  rgb(131, 108, 168);
}

.accordion-body {
  font-family: textFont;
  font-size: 0.8em;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 400px;
  perspective: 1000px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  border: none;
  margin: 50px auto 0px auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  background: linear-gradient(to bottom right, rgba(201, 60, 60, 0.6), rgba(199, 143, 69, 0.6), rgba(199, 179, 69, 0.6) , rgba(69, 129, 199, 0.6),  rgba(136, 69, 199, 0.6))
}
.flip-card-back p {
  display: table;
  margin: 0px auto 0px auto;
  text-align: center;
  width: 100%;
  height: auto;
}

small {
  font-size: small;
}

.card-body,
.card-img-top,
.card-body p small {
  background-color:  rgb(131, 108, 168);
  color: black;
}

.card-body button {
  background-color: rgb(228, 207, 15);
  color: black;
}

.card-body button:hover {
  background-color: rgb(255, 240, 104);
}

.contact-box button {
  background-color: rgb(228, 207, 15);
  color: black;
}

.contact-box button:hover {
  background-color: rgb(255, 240, 104);
}

#exampleFormControlTextarea1 {
  max-height: 450px;
}

.contact-box div img {
  max-height: 100%;
  max-width: 100%;
}

.button-container {
  margin: 0px auto 0px auto;
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}

footer h5 {
  opacity: 70%;
  font-size: small;
}

@font-face {
  font-family: title;
  src: url("../fonts/loubag-6.ttf");
}

@font-face {
  font-family: textFont;
  src: url("../fonts/Kollektif.ttf");
}

@media only screen and (max-width: 600px) {

  .textbox,
  .hero-banner div div p {
    width: 85%;
  }

  .hero-banner div div h2 {
    padding-bottom: 5%;
  }
}